body::-webkit-scrollbar {
    display: none;
  }

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: rgb(229, 218, 242)
    
}

.jumbotron {
    background-image: url(../images/begron.png);
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: -25px;
    color: #f1f1f5;
    border-bottom: 4px solid #b2b4ff;
    border-right: 4px solid #b2b4ff;
    border-left: 4px solid #b2b4ff;
    overflow: hidden;
}

.jumbotron p, .jumbotron h5 {
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.9);
}

hr {
    width: 250px;
    border: 3px solid #7b7edd;
}

section {
    min-height: 400px;
}

.pleft, .pright {
    opacity: 0;
    transform: translate(-120px, 0) rotate(40deg);
    transition: 1s;
}

.pright {
    transform: translate(120px, 0) rotate(-40deg);
}

.pleft.show, .pright.show {
    opacity: 1;
    transform: translate(0,0);
}

.portofolio .card-img-top {
    opacity: 0;
    transform: translate(0, 40px);
    transition: .5s;
}

.portofolio .card-img-top.show {
    opacity: 1;
    transform: translate(0, 0);
}